<div class="container">
  <app-city-form></app-city-form>
</div>
<div class="container lista-cidades" fxLayout='column' fxLayoutGap='8px'>
  <h3 class="header"> Lista de cidades </h3>
  <div *ngFor='let cidade of cidades'>
    <mat-card class="cidade borda-cidade" routerLink="{{cidade.name}}/temperaturas">
      Nome: {{ cidade.name }}
    </mat-card>
  </div>
  <!--Voce consegue ter acesso a lista então da pra validar pelo tamanho-->
  <!-- <div *ngIf='!cidades'>
    <span fxLayoutAlign='center' class="valida-cidade">Não há cidades cadastradas!</span>
  </div> -->
</div>
